<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"type":"constrained","contentSize":"720px"}} -->
	<div class="wp-block-group" style="padding-top:3rem;padding-right:var(--wp--preset--spacing--40);padding-bottom:3rem;padding-left:var(--wp--preset--spacing--40)">
		<!-- wp:query-title {"type":"search","level":1} /-->
		<!-- wp:search {"label":"Zoeken","showLabel":false,"placeholder":"Wat zoek je?","buttonText":"Zoek"} /-->
		<!-- wp:query {"queryId":0,"query":{"perPage":10,"inherit":true}} -->
		<div class="wp-block-query">
			<!-- wp:post-template -->
				<!-- wp:post-title {"isLink":true,"level":2} /-->
				<!-- wp:post-excerpt /-->
			<!-- /wp:post-template -->
			<!-- wp:query-no-results -->
				<!-- wp:paragraph -->
				<p>Geen resultaten gevonden voor je zoekopdracht.</p>
				<!-- /wp:paragraph -->
			<!-- /wp:query-no-results -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
